{% extends 'base.html' %}
{% load static%}
{% block title %} About {% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Second Hand Goods Market</h1>
          <p class="lead">Welcome to our website , the one stop solution to all your needs while at college.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{%url 'index'%}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>About</h2>
          <!--<p class="lead"></p>
          <img src="../../BS/static/img/about.jpg" alt="">-->
          <p class="mt-4">Welcome to the website, a perfect one place solution for all your needs. Explore for all the listings of second hand items that you might require during your life at campus, whether you want a second hand textbook in your current course , a lab coat for the current semester or court shoes to try for an iffy trial, don't be worried ,we got you covered , buy items listed among the listings , negotiate with the seller and then re-sell it by listing it on the website whenever you feel you don't need it anymore.</p>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'img/building.jpg'%}" alt="Second Hand Goods Marketplace ">
            <!-- <div class="card-body">
              <h5 class="card-title">Creator</h5>
              <h6 class="text-secondary"></h6>
              <p class="card-text">
              </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique!</h4>
    <hr>
    <a href="{%url 'listings'%}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

{% endblock %}